<p id="notice"><%= notice %></p>

<h1>Samples</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Created At</th>
      <th>Temperature</th>
      <th>Humidity</th>
      <th>Pressure</th>
<% if false %>
      <th>Eco2</th>
      <th>Tvoc</th>
      <th>Ccs temperature</th>
<% end %>
      <th>Lux</th>
      <th>Full light</th>
      <th>Ir</th>
      <th>Visible</th>
      <th>Pm1</th>
      <th>Pm25</th>
      <th>Pm10</th>
      <th>Uptime (sec)</th>
      <th>Free heap</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @samples.each do |sample| %>
      <tr>
	<td><%= link_to sample.created_at, sample %></td>
        <td><%= sample.temperature %></td>
        <td><%= sample.humidity %></td>
        <td><%= sample.pressure %></td>
<% if false %>
        <td><%= sample.eco2 %></td>
        <td><%= sample.tvoc %></td>
        <td><%= sample.ccs_temperature %></td>
<% end %>
        <td><%= sample.lux %></td>
        <td><%= sample.full_light %></td>
        <td><%= sample.ir %></td>
        <td><%= sample.visible %></td>
        <td><%= sample.pm1 %></td>
        <td><%= sample.pm25 %></td>
        <td><%= sample.pm10 %></td>
        <td><%= sample.uptime %></td>
        <td><%= sample.freeheap %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @devices %>
